body{
font-family: "brother-1816-printed", sans-serif;
font-weight: 400;
font-style: normal;
background-color: #F5F1DC;
margin: 0;
}
body {
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F5F1DC;
  margin: 0;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
  margin-left: -1px;
  padding-right: 2px;
  background-image: url("Clubfritiqueappimg/Group 74.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  z-index: 10;

}
.nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: start;
}

.pfp{
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  width: 6em;
  margin-top: 1em;
  margin-left: 1em;
}

.winkel{
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  width: 6em;
  margin-right: 1em;
  margin-top: 1em;
}
.logo{
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  width: 6em;
  margin-top: -3em;
}
.search{
    padding-top: 15em;
    padding-bottom: 4em;
}
