
body{
font-family: "brother-1816-printed", sans-serif;
font-weight: 400;
font-style: normal;
background-color: #F5F1DC;
margin: 0;

}

.prof{
    width: 9em;
    margin-left: 2.5em;
}
.back{
    width:2em;
    margin-top: 2em;
    margin-left: 1em;
}


.top{
    background-color: #780116;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}


.top1{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.top1 h1{
    background-color: #F5F1DC;
        font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  text-align: center;
  padding-top: 0.3em;
  width: 8em;
  border: #F5F1DC solid 2px;
  border-radius: 20px;
}
.bio{
        background-color: #F5F1DC;
font-family: "brother-1816-printed", sans-serif;
font-weight: 400;
font-style: normal;
  font-size: 1.7em;
  text-align: left;
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-left: 1.6em;
  width: 18em;
  height: 5em;
  border: #F5F1DC solid 2px;
  border-radius: 20px;
}
.knoppen{
    display: flex;
    gap: 18em;
    margin-left: 2em;
    align-items: center;
    margin-right: 2em;
}
.knop{
    text-decoration: none;
    color: #F5F1DC;
    background-color: #E36414;
    padding: 0.7em;
    border: #E36414 solid 2px;
    border-radius: 10px;
    font-size: 1.7em;
      font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}
.knop2{
    text-decoration: none;
    color: #F5F1DC;
    background-color: #E36414;
    padding: 0.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: #E36414 solid 2px;
    border-radius: 10px;
    font-size: 1.7em;
          font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}











footer{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #780116;
    padding: 0.5em;
    justify-content: space-between;
}
.home{
    margin-left: 5em;
}
.rate{
    margin-right: 5em;
}
