body{
font-family: "brother-1816-printed", sans-serif;
font-weight: 400;
font-style: normal;
background-color: #F5F1DC;
margin: 0;

}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 124px;
  margin-left: -1px;
  padding-right: 2px;
  background-image: url("Clubfritiqueappimg/groep6.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  z-index: 10;

}
.nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: start;
}

.pfp{
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  width: 4em;
  margin-top: 1em;
  margin-left: 1em;
  cursor: pointer;
}

.winkel{
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  width: 4em;
  margin-right: 1em;
  margin-top: 1em;
}
.logo{
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  width: 6em;
  margin-top: -4em;
}


.dropdownp {
  position: absolute;
  left: 0;
  top: 80px;
  background: #780116;
  border-radius: 0px;
  min-width: 100px;
  display: none;
  text-align: center;
}


.dropdownp.active {
  display: block;
}

.dropdownp a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #F5F1DC;
    font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}
.lijn{
    background-color: #E36414;
    color: #E36414;
    padding-top: 0.2em;
    padding-right: 10em;
}
.Profile{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.Settings{
        margin-bottom: 0.5em;
    margin-top: 0.5em;
}



.pfpo{
    position: relative;
   margin-top: 10em;
    margin-bottom: -15em;
    z-index: 10;
    margin-left: 1em;
}
.pfpo img{
  width: 7em;
}

.formulier{
    margin-top: 10em;
    padding-top: 0em;
    padding-bottom: 1em;
    background-color:#E36414 ;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 2em;
    margin-left: 2em;
    border: #E36414 solid 2px;
    border-radius: 1em;
}
.dropdown{
    display: grid;
    justify-content: flex-end;
    gap: 0.4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.formulier label{
  font-size: 1.8em;
}

.input{
  border: #780116 solid 2px;
  border-radius: 50px;
  font-size: 1.6em;
  outline: none;
  background-color: #F5F1DC;
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  width: 14em;
  padding: 14px 40px 5px 40px; 
}

.note{
font-family: "brother-1816-printed", sans-serif;
font-weight: 400;
font-style: normal;
background-color: #F5F1DC;
 border: #780116 solid 2px;
border-radius: 50px;
background-color: #F5F1DC;
outline: none;
padding: 14px 40px 5px 40px; 
height: 450px;
text-align:left;
vertical-align: top;
font-size: 1.4em;
resize: none;
}


.rating{
      background-color: #F5F1DC;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    border: #780116 solid 2px;
    border-radius: 1em;
    width: 30em;
    display: flex;
    justify-content: center;
    gap: 0.8em;
}
.sterk img {
  width: 2em;
}

.sterk {
  cursor: pointer;
  display: inline-block;
}

.likee {
  display: none;
}

input[type="checkbox"]:checked + .sterk .nolike {
  display: none;
}

input[type="checkbox"]:checked + .sterk .likee {
  display: block;
}


.button{
  display:flex;
  justify-content: center;
  padding-top: 2em;
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 6em;
}
.button a{
  text-decoration: none;
  background-color: #780116;
  color: #F5F1DC;
  text-align: center;
  border: #780116 solid 2px;
  font-size: 2em;
  padding: 20px 50px 20px 50px;
  border-radius: 20px;
}





















footer{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #780116;
    padding: 0.5em;
    justify-content: space-between;
}
.home{
    margin-left: 5em;
}
.rate{
    margin-right: 5em;
}