body{
    font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
background-color: #780116;
margin: 0;
color: #F5F1DC;
}

.seetting{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profiel{
    padding-top: 1.2em;
    display: flex;
    flex-direction: row;
    gap: 1.2em;
}
.pfp{
    width: 4em;
    padding-right: 4em;
    padding-bottom: 1em;
    margin-right: 4.5em;
}
.ime{
    width: 1.3em;
    margin-top: 0.5em;
    margin-right: 4em;
    margin-left: 1.3em;
}

.button{
    background-color: #780116;
    border: #E36414 solid 2px;
    padding: 0.8em;
    width: 10em;
    text-align: center;
    border-radius: 20px;
}

.logo{
    width: 4.5em;
}