body{
font-family: "brother-1816-printed", sans-serif;
font-weight: 400;
font-style: normal;
background-color: #F5F1DC;
margin: 0;

}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 124px;
  margin-left: -1px;
  padding-right: 2px;
  background-image: url("Clubfritiqueappimg/groep6.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  z-index: 10;

}
.nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: start;
}

.pfp{
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  width: 4em;
  margin-top: 1em;
  margin-left: 1em;
  cursor: pointer;
}

.winkel{
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  width: 4em;
  margin-right: 1em;
  margin-top: 1em;
}
.logo{
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  width: 6em;
  margin-top: -4em;
}


.dropdownp {
  position: absolute;
  left: 0;
  top: 80px;
  background: #780116;
  border-radius: 0px;
  min-width: 100px;
  display: none;
  text-align: center;
}


.dropdownp.active {
  display: block;
}

.dropdownp a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #F5F1DC;
    font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}
.lijn{
    background-color: #E36414;
    color: #E36414;
    padding-top: 0.2em;
    padding-right: 10em;
}
.Profile{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.Settings{
        margin-bottom: 0.5em;
    margin-top: 0.5em;
}






.back{
    padding-top: 10em;
    padding-left: 1.5em;
}






.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E36414;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 8em;
    border-radius: 20px;
}
.Card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 400px;
    width: 100%;
}

.Card p{
    background-color: #F5F1DC;
    border: #780116 solid 2px;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 20px;
    height: 200px;
    padding-left: 1em;
    padding-top: 0.5em;
    font-size: 1.4em;
    padding-right: 1em;
}

.button{
     text-align: center;
     background-color: #780116;
     color: #F5F1DC;
     border-radius: 20px;
     width: 10em;
     padding-top: 0.35em;
     padding-bottom: 0.35em;
     font-size: 2em;
}


.button1{
     text-align: center;
     background-color: #780116;
     color: #F5F1DC;
     border-radius: 20px;
     width: 10em;
     padding-top: 0.5em;
     padding-bottom: 0.2em;
     font-size: 2em;
             font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

.button1:hover{
    transform: scale(1.1);
}

.button:hover{
    transform: scale(1.1);
}

.size{
    display: flex;
    flex-direction: row;
    color: #F5F1DC;
    gap: 2em;

}

.size h2{
    background-color: #780116;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 20px;
    font-size: 2em;
}

.size h2:hover{
    transform: scale(1.1);
}


























footer{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #780116;
    padding: 0.5em;
    justify-content: space-between;
}
.home{
    margin-left: 5em;
}
.rate{
    margin-right: 5em;
}